<template>
  <div class="about">
    <div class="container-fluid p-5">
      <div class="row">
        <div class="col-lg-12 mb-3">
          <h3 class="text-white">{{movie.Title}}</h3>
        </div>
        <div class="col-lg-3 col-md-4">
          <img class="w-100" :src="movie.Poster" alt="" srcset="">
        </div>
        <div class="col-lg-9 col-md-8 text-white">
          <div class="row">
            <div class="col-lg-12">
              <p class="m-0">Realease Date : {{movie.Released}}</p>
              <p class="m-0">Languange: {{movie.Language}}</p>
              <p class="m-0">Genre: {{movie.Genre}}</p>
              <p class="m-0">Cast & Crew: {{movie.Actors}}</p>
              <p class="m-0">Director: {{movie.Director}}</p>
              <p class="m-0">Length: {{movie.Runtime}}</p>
            </div>
            <div class="col-lg-12 my-3">
              <h2>SINOPSIS</h2>
            </div>
            <div class="col-lg-12 mb-3">
              <p class="m-0">{{movie.Plot}}</p>
            </div>
            <div class="col-lg-12">
              <button class="btn-red">Buy Ticket</button>
              <button class="btn-red mx-lg-2 mx-md-1">Watch Trailer</button>
            </div>
          </div>
        </div>
        <div class="col-lg-12 mt-5">
          <div class="row">
            <div class="col-lg-12 mb-3">
              <h3 class="text-white">Now Playing</h3>
            </div>
            <div class="col-lg-3 col-md-4 mb-3">
              <img class="w-100" :src="movie.Poster" alt="" srcset="">
            </div>
            <div class="col-lg-3 col-md-4 mb-3">
              <img class="w-100" :src="movie.Poster" alt="" srcset="">
            </div>
            <div class="col-lg-3 col-md-4 mb-3">
              <img class="w-100" :src="movie.Poster" alt="" srcset="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'detail',
  data(){
    return{
      movie: [],
      id: this.$route.params.id
    }
  },
  mounted(){
    this.getDetail()
  },
  methods:{
    getDetail: function(){
      axios.get('http://www.omdbapi.com/', {
        params: {
          apikey: "271ab1b1",
          i: this.id
        }
      })
      .then((response) => {
        this.movie = response.data
        console.log(response.data);
      })
      .catch((error) => {
        console.log(error);
      }); 
    }
  }
}
</script>
<style>
.btn-red{
  font-size: 16px;
  color: white;
  background: #C0222E;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}
</style>