<template>
  <div class="home">
     <div class="container-fluid p-5">
       <div class="row">
         <div class="col-lg-4 col-md-4 mb-3" v-for="(movie, index) in movies" :key="index">
           <router-link :to="{ name: 'detail', params:{id: movie.imdbID}}">
              <div class="card border-0 cardMovie">
                <img class="card-img-top" :src="movie.Poster" alt="Card image cap">
                <div class="card-body text-white text-center">
                  <p class="card-text">{{movie.Title}}</p>
                </div>
              </div>
            </router-link>
         </div>
       </div>
     </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'home',
  data(){
    return{
      movies: []
    }
  },
  mounted(){
    this.getMovie()
  },
  methods:{
    getMovie: function(){
      axios.get('http://www.omdbapi.com/', {
        params: {
          apikey: "271ab1b1",
          s: 'batman'
        }
      })
      .then((response) => {
        this.movies = response.data.Search
      })
      .catch((error) => {
        console.log(error);
      }); 
    }
  }
}
</script>
<style>
.cardMovie{
  background-color: transparent!important;
}
</style>
