<template>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-light navbar-red">
      <a class="navbar-brand mr-5" href="#"><img src="@/assets/images/MERDEKA.png" alt="" srcset=""></a>
      <form class="form-inline my-2 my-lg-0 ml-5">
        <input class="form-control mr-sm-2 search-box" type="search" placeholder="Search Title / Theatre Here" aria-label="Search">
      </form>
      <ul class="navbar-nav ml-auto d-none d-lg-flex d-xl-flex">
        <li class="nav-item active">
          <a class="nav-link" href="#"><img src="@/assets/images/IMAX.png" alt="" srcset=""></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="@/assets/images/DOLBY.png" alt="" srcset=""></a>
        </li>
      </ul>
    </nav>
    <main class="wrapper">
      <div class="sidebar">
        <ol>
          <li><a class="active" href="">Now Playing</a></li>
          <li><a href="">Cooming Soon</a></li>
          <li><a href="">Theatre</a></li>
          <li><a href="">Promotion</a></li>
          <li><a href="">Informations</a></li>
        </ol>
      </div>
      <div class="content">
        <router-view/>
      </div>
    </main>
    <footer>
      <p>
        © 1999-2012 21Cineplex.com. All materials and contents (texts, graphics, and every attributes) of 21Cineplex or 21Cineplex.com website are 
        <br>
        copyrights and trademarks of PT Nusantara Sejahtera Raya.
        <br>
        Any commercial usage of the materials and contents is forbidden without prior permission from PT Nusantara Sejahtera Raya. There is no other
        <br>
        institutions/agencies outside
        <br>
        PT Nusantara Sejahtera Raya allowed to use www.21Cineplex.com (21Cineplex website) without prior permission from PT Nusantara Sejahtera
        <br>
        Raya
      </p>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'App',

}
</script>
<style>
*{
  box-sizing: border-box;
}
body{
  background-color: #232C32!important;
  height: 100%;
  display: flex;
  flex-direction: column;

}
.navbar-red{
  background: #C0222E;
  padding-top: 20px!important;
  padding-bottom: 20px!important;

}
.search-box{
  width: 500px!important;
  border-radius: 20px!important;
  border: none!important;
}
.wrapper{
  display: flex;
}
.sidebar{
  width: 273px;
  background: #191C1F;
  min-height: 100vh;
  padding: 20px 0;
}
.sidebar ol{
  padding: 0;
  list-style: none;
}
.sidebar ol li a{
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  color: #FFFFFF;
}
.sidebar ol li a:hover{
  text-decoration: none;
}
.sidebar ol li a.active{
  background: #232C32;
}
.content{
  width: 100%;
}
footer{
  background: #C0222E;
  padding: 30px;
  display: flex!important;
  justify-content: center;
}
footer p{
  font-size: 14px;
  color: #FFFFFF;
  margin: 0;
}
@media only screen and (max-width: 600px) {
  .search-box{
    width: 200px!important;
  }
  .wrapper{
    flex-direction: column;
  }
  .sidebar{
    width: 100%;
    min-height: auto;
  }
}
</style>
